/* 
navLink-h2-h3           primary-text-nero-black: #212121; 
contacts-text           secondary-text-sonic-silver: #757575; 
                        accent-dodger-blue: #2196f3;
                        black-logo: #000000;
                        white-color: #ffffff;
footer-contacts         white-transparent-color: rgba(255, 255, 255, 0.6); 
footer-bg               bg-gunmetal: #2F303A;
filter-bg               bg-ghost-white: #F5F4FA;
header-border-bottom    border-whisper-white: #ECECEC; 
card-project                border-whisper-grey: #EEEEEE;  
                       
team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
filter-active-shadow    active-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
*/

:root {
  /* color */
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-dodger-blue: #2196f3;
  --black-logo: #000000;
  --white-color: #ffffff;
  --white-transparent-color: rgba(255, 255, 255, 0.6);

  --bg-ghost-white: #f5f4fa;
  --bg-gunmetal: #2f303a;

  --border-whisper-grey: #eeeeee;
  --border-whisper-white: #ececec;

  --team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --active-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  /* fonts */
  --primary-font-size: 16px;
  --secondary-font-size: 14px;

  --logo-font-size: 26px;
  --hero-font-size: 44px;

  --section-title-font-size: 36px;
  --card-title-font-size: 18px;

  /* weight */
  --primary-weight: 400;
  --primary-bold: 700;
  --accent-weight: 500;
  --hero-weight: 900;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--primary-weight); /* 400 */
  font-size: var(--primary-font-size); /* 16px */
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER */

.page-header {
  border-bottom: 1px solid var(--border-whisper-white);
}

/* logo */
.site-logo {
  color: var(--black-logo);
  font-family: 'Raleway', sans-serif;
  font-size: var(--logo-font-size);
  font-weight: var(--primary-bold);
  line-height: 1.2;
}

.page-footer-logo {
  color: var(--white-color);
}

.accent {
  color: var(--accent-dodger-blue);
}

.site-nav .link,
.site-contacts .link {
  font-weight: var(--accent-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .current {
  color: var(--accent-dodger-blue);
}

.site-contacts .link {
  color: var(--secondary-text-color);
}

li > .point:hover,
li > .point:focus {
  color: var(--accent-dodger-blue);
}

/* HERO */
.hero,
.page-footer {
  background-color: var(--bg-gunmetal);
}

.hero-title {
  color: var(--white-color);
  font-size: var(--hero-font-size);
  font-weight: var(--hero-weight);
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hero .button {
  background-color: var(--accent-dodger-blue);
  color: var(--white-color);

  font-family: inherit;
  font-size: var(--primary-font-size);
  font-weight: var(--primary-bold);
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}

/* SECTIONS */
.skills-title {
  font-weight: var(--primary-bold);
  font-size: var(--secondary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
}

.section-title {
  font-size: var(--section-title-font-size);
  font-weight: var(--primary-bold);
  line-height: 1.2;
  text-align: center;
}

.title {
  color: var(--primary-text-color);
  font-weight: var(--accent-weight);
}

.description {
  color: var(--secondary-text-color);
}

/* SKILLS */

.section-skills .description {
  font-size: var(--secondary-font-size);
}

/* TEAM */
.team-card {
  width: 270px;
  height: 368px;

  background-color: var(--white-color);
  box-shadow: var(--team-box-shadow);
  border-radius: 0px 0px 4px 4px;

  line-height: 1.2;
  text-align: center;
}

.team-card .title {
  font-size: var(--primary-font-size);
  font-weight: var(--accent-weight);
}

/* PORTFOLIO PAGE */

/* filter */

.filter-cards .button {
  background-color: var(--bg-ghost-white);
  color: var(--primary-text-color);

  font-family: inherit;
  font-weight: var(--accent-weight);
  font-size: var(--primary-font-size);
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
}

.filter-cards .button:hover,
.filter-cards .button:focus {
  color: var(--white-color);
  background-color: var(--accent-dodger-blue);
  box-shadow: var(--active-shadow);
}

/* project-cards */
.project-cards .item {
  border: 1px solid var(--border-whisper-grey);
}

.project-cards .description {
  line-height: 1.9;
}

.project-cards .title {
  font-weight: var(--primary-bold);
  font-size: var(--card-title-font-size);
  line-height: 2;
  letter-spacing: 0.06em;
}

/* FOOTER */

.address {
  font-style: inherit;
  font-size: var(--secondary-font-size);
}

.footer-address-map {
  color: var(--white-color);
}

.footer-address-contact {
  color: var(--white-transparent-color);
}
